[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# IDE0017: Simplify object initialization
dotnet_diagnostic.IDE0017.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = silent
